.page{
    filter: brightness(0.7);
    width: 150px;
    margin: 5px auto;
    margin-top: -8px;
    margin-left: -100px;
}
.nav{
    background: linear-gradient(150.81deg, rgba(4,4,4,0.7) .17%, rgba(4,4,4,0.45) 85.02%, rgba(4,4,4,0.3) 112.52%) !important;
    width: 1350px;
    padding: 40px;
    position: absolute;
}
.img-logo{
    position: absolute;
    margin-left: 150px;
    width: 100px;
    filter: contrast(500%);
    margin-top: -15px;
}
.btn{
    
    background: transparent;
    color: white;
    border: none;
    font-size: 19px ;
    position: absolute;
    right: 0;
    margin: 30px  ;
    padding: 5px 15px;
    border-radius: 5px;
    margin-top: -16px;
    cursor: pointer;  
}
.btn:hover{
    background-color: rgb(255, 255, 255) ;
    border: 1px solid gray;
    color: black;
}
.text{
    color: #00ED82;
    padding-bottom: 8px;
    position: absolute;
    margin-top: 200px;
    margin-left: 680px;
    font-family: 'Graphik Web', 'Graphik', sans-serif;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: .6px;
    width: 170%;
}

.img1{
    position: absolute;
    width: 610px;
    margin-left: 510px;
    margin-top: 230px;
    filter: contrast(150%);
}
.subheadline{
    width: 530px;
    position: absolute;
    margin-left: 550px;
    color: white; 
    margin-top: 390px;
    font-family: 'Graphik Web', 'Graphik', sans-serif;   
}
.subheadline1{
    margin-left: 720px;
    width: 530px;
    position: absolute;
    color: white; 
    margin-top: 420px;
    font-family: 'Graphik Web', 'Graphik', sans-serif;
}
.btn1{
    width: 600px;
    padding: 10px;
    position: absolute;
    background-color: #00ED82;
    margin-top: 470px;
    margin-left: 510px;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn1:hover{
    background:  transparent ;
    background-color: #1bf88a81 ;

}
.btn2{
    border: none;
    text-decoration: underline;
    color: white;
    position: absolute;
    margin-top: 530px;
    margin-left: 760px;
    background: none;
    width: 95px;
    cursor: pointer;
    font-size: 15px;
}
.sign{
    margin-top: 570px;
    margin-left: 750px;
    position: absolute;
    color: white;
    width: 170px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.row{
    background: linear-gradient(160.81deg, rgba(4,4,4,0.7) .17%, rgba(4,4,4,0.45) 85.02%, rgba(4,4,4,0.3) 112.52%) !important;
    position: absolute;
    padding: 32px 20px;
    width: 1400px;
    margin: 100px;
    margin-top: 655px;
    margin-left: 0px;
}
.brand-img{
    width: 290px;
    margin-left: 130px;
    margin-top: 20px;
}
.Ribbon_eyebrow{
    margin-left: 460px;
    color: #00ED82;
    font-family: "Graphik Web",sans-serif;
    font-size: 13px;
    font-weight: bolder;
    line-height: 1;
    letter-spacing: 0.6px;
    margin-top: -70px;
}
.details{
    color: white;
    margin-left: 460px;
    margin-top: 10px;
    font-weight: 400px;
    font-family: "Graphik Web",sans-serif;
    font-size: 24px;
}
.btn_1{
    margin-left: 1170px;
    background: transparent;
    border: 3px solid #FFFFFF;
    color: #fff;
    position: absolute;
    margin-top: -50px;
    padding:  15px 10px ;
    font-size: 14px;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 6px;
    letter-spacing: 0.6px;
}
.btn_1:hover{
    background: white;
    color: black;
}
.about{
    margin-left: 1210px;
    opacity: 0.7;
    text-decoration: underline;
    font-size: 10px;
    
}
.all{
    color: white;
}
.library{
    background-color: #0b0c0f;
    position: relative;
    padding: 879px 0px;
    padding-bottom: 650px;
    margin: 10px auto;
    margin-top: -10px;
    margin-left: -110px; 
    margin-right: -7px;
}
.library_header{
    color:  #00ED82;;
    display: flex;
    position: relative;
    z-index: 2;
    margin-left: 730PX;
    font-family: "Graphik Web",sans-serif;
    font-size: 12px;
    font-weight: bolder;
    line-height: 1;
    letter-spacing: 0.6px;
    margin-top: -750px;
}
.library_title{
    color: white;
    margin-left: 590px;
    font-family: "Graphik Web",sans-serif;
    font-size: 48px;
    font-weight: bolder;
    line-height: 1;
    letter-spacing: -0.2px;
    margin-top: 20px;
}
.library_description{
    color: white;
    width: 843px;
    font-size: small;
    margin-left: 410px;
    font-family: "Graphik Web",sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.36;
    letter-spacing: 0;
}
.library_description1{
    color: white;
    width: 850px;
    font-size: small;
    margin-left: 400px;
    font-family: "Graphik Web",sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.36;
    letter-spacing: 0;
    margin-top: -10px;
    text-align: center; 
    padding-bottom: 100px;
}
.library_wrapper{
    cursor: pointer;
    position: relative;
    text-align: left;
    box-sizing: inherit;
    display: flex;
    margin-top: 20px;
}
.library_gradient{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(156.82deg, rgba(0,0,0,0.6) 4.58%, rgba(0,0,0,0) 69.61%),linear-gradient(24.5deg, rgba(0,0,0,0.2) 4.71%, rgba(0,0,0,0) 71.49%);
}
.library-background{
    width: 300px;
    margin-left: 150px;
    object-fit: contain;
    vertical-align: middle;
    border-style: none;
    display: flex;
}
.library_items{
    padding: 25px;
    top: 0;
    left: 0;
    position: absolute;
    margin-left: 150px;
    width: 200px;
    font-size: 12px;
    font-weight: 500px;
    color: white;
    font-family: "Graphik Web",sans-serif;
}
.item_category{
    font-size: 20px;
    line-height: 28px;
    margin: 0;
    font-weight: normal;
    color: white;
    margin-left: 175px;
    top: 0;
    left: 0;
    position: absolute;
    margin-top: 40px;   
}
.library_wrapper1{
    cursor: pointer;
    position: relative;
    text-align: left;
    box-sizing: inherit;
    margin-top: -460px;   
}
.library-background1{
    width: 300px;
    margin-left: 470px;
    object-fit: contain;
    vertical-align: middle;
    border-style: none;
    display: flex;
    text-align: left;
    object-fit: contain;
}
.library_items1{
    padding: 25px;
    top: 0;
    left: 0;
    position: absolute;
    margin-left: 470px;
    width: 200px;
    font-size: 12px;
    font-weight: 500px;
    color: white;
    font-family: "Graphik Web",sans-serif;
}
.item_category1{
    font-size: 20px;
    line-height: 28px;
    margin: 0;
    font-weight: normal;
    color: white;
    margin-left: 495px;
    top: 0;
    left: 0;
    position: absolute;
    margin-top: 40px;
    
}
.library_wrapper2{
    cursor: pointer;
    position: relative;
    text-align: left;
    box-sizing: inherit;
    margin-top: -460px;   
}
.library-background2{
    width: 300px;
    margin-left: 790px;
    object-fit: contain;
    vertical-align: middle;
    border-style: none;
    display: flex;
    text-align: left;
    object-fit: contain;
}
.library_items2{
    padding: 25px;
    top: 0;
    left: 0;
    position: absolute;
    margin-left: 790px;
    width: 200px;
    font-size: 12px;
    font-weight: 500px;
    color: white;
    font-family: "Graphik Web",sans-serif;
}
.item_category2{
    font-size: 20px;
    line-height: 28px;
    margin: 0;
    font-weight: normal;
    color: white;
    margin-left: 815px;
    top: 0;
    left: 0;
    position: absolute;
    margin-top: 40px;
}
.library_wrapper3{
    cursor: pointer;
    position: relative;
    text-align: left;
    box-sizing: inherit;
    margin-top: -460px;   
}
.library-background3{
    width: 300px;
    margin-left: 1115px;
    object-fit: contain;
    vertical-align: middle;
    border-style: none;
    display: flex;
    text-align: left;
    object-fit: contain;
}
.library_items3{
    padding: 25px;
    top: 0;
    left: 0;
    position: absolute;
    margin-left: 1115px;
    width: 200px;
    font-size: 12px;
    font-weight: 500px;
    color: white;
    font-family: "Graphik Web",sans-serif;
}
.item_category3{
    font-size: 20px;
    line-height: 28px;
    margin: 0;
    font-weight: normal;
    color: white;
    margin-left: 1140px;
    top: 0;
    left: 0;
    position: absolute;
    margin-top: 40px;
}
.disclaimer{
    font-family: "Graphik Web",sans-serif;
    font-size: 10px;
    font-weight: 400;
    color: white;
    margin-left: 1115px;
}
.billboard{
    padding: 200px 0px 50px;
    position: absolute;
    margin-top: -700px;
}
.billboard_eyebrow{
    color: #1ce783;
    font-size: 12px;
    font-family: 'Graphik web','Graphik',sans-serif;
    font-weight: 500;
    margin: 0 auto;
    text-align: center;
    margin-left: 50px;
    letter-spacing: .6px;
    line-height: 1;
}
.billboard_heading{
    font-size: 48px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    letter-spacing: -.5px;
    line-height: 1.25;
    margin: 16px 3% 0;
    margin-left: 90px;
    font-family: 'Graphik web','Graphik',sans-serif;
}
.subheading{
    margin: 18px 10% 0  ;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .7px;
    line-height: 1.56;
    font-family: 'Graphik Web', 'Graphik', sans-serif;
    margin-left: 350px;
    margin-right: 300px;

}
.billboard_disclaimer{
    font-family: 'Graphik Web', 'Graphik', sans-serif;
    color: #ffffff88;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    margin: 30px;
    margin-left: 300px;
    margin-right: 250px;
    letter-spacing: .5px;
    line-height: 1.46;
}
.billboard_modalLink{
    border: none;
    background: none;
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
    opacity: 0.8;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    letter-spacing: .6px;
    margin: 16px auto 0 auto;
    display: flex;
}
.Billboard__downArrow{
    animation: move-up-and-down 1s infinite alternate;
    background: url(https://www.hulu.com/static/hitch/static/icons/dropdown_arrow.svg) no-repeat center;
    height: 16px;
    margin-top: 55px;
    cursor: pointer;
    width: 18px;
    padding: 0;
    border: none;
    text-align: center;
    justify-content: center;
    display: flex;
    color: #fff;
    margin: 20px auto;
    margin-top: 50px;
}
@keyframes move-up-and-down{
    0% {
        transform : translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}
.spotlight{
    filter: brightness(0.8);
    margin: 0%;
    background-repeat: no-repeat;
    box-sizing: inherit;
    margin: 6px auto;
    margin-top: -10px;
    margin-left: -100px;
    align-items: center;
    margin-right: -7px;
}
.img__1{
    font-family: "Graphik", Helvetica, Arial, sans-serif;
    background-color: #0b0c0f;
    width: 100%;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.8) -57.5%, rgba(0, 0, 0, 0) 98.72%);
    box-sizing: inherit;
    background-repeat: no-repeat;
}
.nav12{
    max-width: 786px;
    max-height: 702px;
    margin: -100px auto;
    box-sizing: inherit;   
}
.spotlight_tab{
    margin-top: -75%;
    box-sizing: inherit;
}
.TabButton{
    width: 100%;
    margin-left: -130px;
    margin-right: 0;
    text-align: left;
}
.b1{
    color: #fff;
    font-weight: bolder;
    border: none;
    background: none;
    font-size: 100%;
    font-family: "Graphik", Helvetica, Arial, sans-serif;
    font-size: 15px;
}
.b2{
    color: #fff;
    font-weight: bolder;
    border: none;
    background: none;
    font-size: 100%;
    opacity: 0.6;
    font-family: "Graphik", Helvetica, Arial, sans-serif;
    margin-left: 20px;
    font-size: 14px;
}
.b3{
    color: #fff;
    font-weight: bolder;
    border: none;
    background: none;
    font-size: 100%;
    opacity: 0.6;
    font-family: "Graphik", Helvetica, Arial, sans-serif;
    margin-left: 20px;
    font-size: 14px;
}
.TabButtons__activeBar{
    display: block;
    position: absolute;
    background: #fff;
    align-items: center;
    margin-left: -9%;
    height: 7px;
    z-index: 2;
    transform-origin: right center;
    transition: width 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955),transform 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    margin-top: 13px;
}
.view{
    font-size: 50px;
    color: #fff;
    margin-top: 60px;
    margin-left: -130px;
    align-items: center ;
}
.TabButton_subheadline{
    font-family: "Graphik Web",sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.36;
    letter-spacing: 0;
    color: #fff;
    margin: -10px auto;
    margin-left: -130px;
    width: 55%;
}
.Tab_content_logorow1{
    display: flex;
    justify-content: flex-start;
    margin: 20px 0 0 0;
    width: 350px;
}
.CBS_sports_logo1{
    margin: 0 20px 20px 0;
    width: 55px;
    height: 55px;
    box-sizing: inherit;
}
.logo_wall{
    display: flex;
    height: 100%;
    width: 100px;
    align-items: center;
    max-width: 88px;
    max-height: 88px;
    margin: 0 auto;
    background: url(https://www.hulu.com/static/hitch/static/logos/networks/network-logo-bg@2x.png) center center no-repeat;
    background-size: contain;
    margin-left: -150px;
    margin-top: 10px;    
}
.lazyloaded{
    opacity: 1;
    width: 55%;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    box-sizing: inherit;
}
.ESPN{
    margin: 0 20px 20px 0;
    width: 55px;
    height: 55px;
    box-sizing: inherit;
}
.logo_wall1{
    display: flex;
    height: 100%;
    width: 100px;
    align-items: center;
    max-width: 88px;
    max-height: 88px;
    margin: 0 auto;
    background: url(https://www.hulu.com/static/hitch/static/logos/networks/network-logo-bg@2x.png) center center no-repeat;
    background-size: contain;
    margin-left: -150px;
    margin-top: 10px;    
}
.lazyloaded1{
    opacity: 1;
    width: 55%;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    box-sizing: inherit;
}
.FS1{
    margin: 0 20px 20px 0;
    width: 55px;
    height: 55px;
    box-sizing: inherit;
}
.logo_wall2{
    display: flex;
    height: 100%;
    width: 100px;
    align-items: center;
    max-width: 88px;
    max-height: 88px;
    margin: 0 auto;
    background: url(https://www.hulu.com/static/hitch/static/logos/networks/network-logo-bg@2x.png) center center no-repeat;
    background-size: contain;
    margin-left: -150px;
    margin-top: 10px;
}
.lazyloaded2{
    opacity: 1;
    width: 55%;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    box-sizing: inherit;
}
.NFL{
    margin: 0 20px 20px 0;
    width: 55px;
    height: 55px;
    box-sizing: inherit;
}
.logo_wall3{
    display: flex;
    height: 100%;
    width: 100px;
    align-items: center;
    max-width: 88px;
    max-height: 88px;
    margin: 0 auto;
    background: url(https://www.hulu.com/static/hitch/static/logos/networks/network-logo-bg@2x.png) center center no-repeat;
    background-size: contain;
    margin-left: -150px;
    margin-top: 10px;
}
.lazyloaded3{
    opacity: 1;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    box-sizing: inherit;
}
.Tab_content_desc{
    font-family: "Graphik Web",sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.44;
    letter-spacing: 0;
    margin: 20px auto;
    margin-left: -125px;

}
.Tab_content_disclaimer{
    font-family: 'Graphik Web', 'Graphik', sans-serif;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 1.46;
    text-transform: none;
    color: rgba(255,255,255,0.6);
}
.Live_tv_legalmodal{
    color: rgba(255,255,255,0.6);
    text-decoration: none;
    border-bottom: 1px solid rgba(255,255,255,0.6);
}
.exp_plans_is_dark{
    background-color: #0b0c0f;
    color: #fff;
    position: relative;
    padding-bottom: 10px;
    margin: 6px auto;
    margin-top: 290px;
    box-sizing: inherit;
    margin-left: -10px;
    margin-right: -7px;
    flex-direction: row; 
}
.exp_plans_container{
    max-width: 1000px;
    margin:  0 auto;
    font-family: Graphik;
    position: relative;
}
.header{
    padding-top: 80px;
    text-align: center;
    box-sizing: inherit;
    font-family: Graphik;
}
.header_headline{
    font-family: "Graphik Web",sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: -0.5px;
    margin: 0 0 16px;
    box-sizing: inherit;
}
.header_description{
    font-family: 'Graphik Web', 'Graphik', sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 1.32;
    text-transform: none;
    margin-bottom: 40px;
}
.plan_head_container{
    text-align: center;
    position: sticky;
    top: 0;
    background-color: #0b0c0f;
    border-top: 1px solid rgba(200,200,200,0.4);
    margin-left: 190px;
    margin-right: 190px;
    height: 240px;
    display: flex;
    flex-direction: row;
    padding: 0;   
    border-bottom: 1px solid rgba(200,200,200,0.4);
    font-family: Graphik;
    
}
.head-column-new-toggle{
    height: 215px;
    padding: 15px 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-grow: 0;
    font-family: Graphik;
    box-sizing : inherit;
}
.Bundle_header_new_toogle{
    display: flex;
    justify-content: center;
    gap: 10px;
    color: #fff;
}
.Bundle_new_leftheading{
    font-family: "Graphik Web",sans-serif;
    font-size: 14px;
    font-weight: 550;
    line-height: 1.4;
    letter-spacing: 0;
    margin-left: 40px;
}
.Bundle_new_leftbutton{
    justify-content: center;
    margin-top: 40px ;
    margin-left: -80px;
}
.img_6{
    width: 35px;
    object-fit: cover;
    box-sizing: inherit;
}
.toggle-switch__checkbox {
    position: absolute;
    height: 0;
    width: 0;
    visibility: hidden;
}
input {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    border-radius: 0;
}
.toggle-switch__checkbox:checked+.toggle-switch__label {
    background: #1ce783;
}
.toggle-switch__label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    height: 30px;
    border-radius: 50px;
    position: relative;
    transition: background-color 0.2s;
    width: 56px;
    background: #424957;
    margin-left: 50px;
    margin-top: -20px;
}
.toggle-switch__checkbox:checked+.toggle-switch__label .toggle-switch__button {
    left: calc(100% + 1px);
    transform: translateX(-100%);
}
.toggle-switch__button {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transition: 0.2s;
    background: #fff;
    box-shadow: 0px 1px 4px rgb(0 0 0 / 25%);
}
.bundle_new_toggle_rightheading{
    font-family: Graphik;
    color: #fff;
    box-sizing: inherit;
}
.bundle_new_toggle_rightheading_topheading{
    display: flex;
    align-items: center;
    font-family: "Graphik Web",sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0;
    margin: 10px;
}
.bundle_new_toggle_right_buttomheading{
    vertical-align: middle;
    border-style: none;
}
.plan_head{
    text-align: center;
    display: flex;
    color: #fff;
}
.plan_head_card{
    padding-top: 32px;
    padding-bottom: 31px;
    height: 215px;
    justify-content: center;
    align-items: flex-end;
    box-sizing: border-box;
    margin-left: 50px;
}
.plan_head_card-content{
    width: 100%;
    color: #fff;
}
.plan_card-badge{
    height: 33px;
    text-align: center;
}
.css_plan-card{
    background-color: #1ce783;
    font-size: 9px;
    padding: 7px 15px 5px;
    border-radius: 100px;
    color: #16181d;
    letter-spacing: 1px;
    font-family: "Graphik Web",sans-serif;
    font-weight: 500;
}
.plan_card_eyebrow{
    color: #bec0c2;
    padding-top: 10px;
    margin-bottom: 5px;
    line-height: 1;
    font-size: 14px;
    margin-top: 10px;
}
.css-9uqwi1{
    font-family: "Graphik Web",sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.6px;
}
.plan_card_title{
    padding-left: 15px;
    padding-right: 15px;
    color: #fff;
    margin-bottom: 13px;
}
.css-2pur9e{
    font-size: 20px;
    font-family: "Graphik Web",sans-serif;
    font-weight: 600;
    line-height: 1.32;
    letter-spacing: 0;
}
.plan_card_button-wrapper{
    margin: 6px auto 0;
    width: 100%;
}
.button_plan-card{
    height: 45px;
    padding: 0 70px ;
    font-weight: 600;
    font-family: "Graphik Web",sans-serif;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.6px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.plan-head__card{
    padding-top: 32px;
    padding-bottom: 31px;
    height: 215px;
    justify-content: center;
    align-items: flex-end;
    box-sizing: border-box;
    margin-left: 20px;
}
.plan-head__card-content{
    width: 100%;
    text-align: center;
    color: #fff;
    height: 33px;
    box-sizing: inherit;
}
.plan-head__card-eyebrow{
    color: #bec0c2;
    padding-top: 50px;
    margin-bottom: 5px;
    line-height: 1;
    font-size: 14px;
    text-align: center;
}
.css-9u6dr{
    font-family: "Graphik Web",sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.6px;
}
.plan-head__card-title{
    padding-left: 15px;
    padding-right: 15px;
    color: #fff;
    margin-bottom: 13px;
    text-align: center;
}
.css-uhf45d{
    font-size: 20px;
    font-family: "Graphik Web",sans-serif;
    font-weight: 600;
    line-height: 1.32;
    letter-spacing: 0;
}
.plan_card__button-wrapper{
    margin: 6px auto 0;
    width: 100%;
}
.button_plan-card__1{
    height: 45px;
    padding: 0 70px ;
    font-weight: 600;
    font-family: "Graphik Web",sans-serif;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.6px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 3px;
}
.plan_feature{
    margin: 20px auto;
    color: #fff;
}
.plan_feature-items{
    border-bottom: 1px solid hsla(0,0%,78.4%,.4);
    text-align: center;
    display: flex;
    box-sizing: inherit;  
    margin-left: 190px;
    margin-right: 190px; 
}
.plan_feature-pricing-row{
    font-size: 14px;
    flex-direction: column;
    padding-bottom: 20px 0;
}
.css-kul4l{
    font-family: "Graphik Web",sans-serif;
    font-weight: 400;
    line-height: 1.36;
    letter-spacing: 0;
}
.plan_feature-bullet{
    padding-bottom: 20px;
    text-align: center;
    box-sizing: inherit;
}
.plan_feature-bullet-text{
    font-size: 14px;
    font-family: "Graphik Web",sans-serif;
    font-weight: 400;
    line-height: 1.36;
    letter-spacing: 0;
    text-align: center;
    margin: 400px;   
}
.plan_feature__bullet{
    margin-left: -170px;
}
.plan_feature-bullet__text{
    font-family: "Graphik Web",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.36;
    letter-spacing: 0;
}
.plan-features-item{
    border-bottom: 1px solid hsla(0,0%,78.4%,.4);
    display: flex;
    text-align: center;
    color: #fff;
    box-sizing: inherit;  
    margin-left: 190px;
    margin-right: 190px; 
}
.plan-feature__title{
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 20px 0 ;
}
.css-u98hd{
    font-family: "Graphik Web",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0;
}
.plan_feature-checkplan_feature{
    padding: 20px ;
    flex: 1 1;
    text-align: center;
    align-self: stretch;
    justify-content: center;
    margin: 10px auto;
    
}
.plan-feature__bullet{
    padding: 20px  ;
    flex: 1 1;
    text-align: center;
    align-self: stretch;
    justify-content: center;
    margin: 10px auto;
}
.plan-features-items{
    border-bottom: 1px solid hsla(0,0%,78.4%,.4);
    display: flex;
    text-align: center;
    color: #fff;
    box-sizing: inherit;  
    margin-left: 190px;
    margin-right: 190px;
}
.css-u98hds{
    font-family: "Graphik Web",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0;
    margin-right: 100px;
}
.plan_feature-checkplan_features{
    padding:  20px 0 ;
    flex: 1 1 ;
    text-align: center;
    align-self: stretch;
    justify-content: center;
    margin: 10px auto;
}
.plan-feature__bullets{
    padding: 20px 0 ;
    text-align: center;
    align-self: stretch;
    margin: 10px auto; 
    flex: 1 1 ; 
}
.css-u98hds1{
    font-family: "Graphik Web",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0;
    margin-right: 110px;
}
.plan-features-item-1{
    border-bottom: 1px solid hsla(0,0%,78.4%,.4);
    display: flex;
    text-align: center;
    color: #fff;
    box-sizing: inherit;  
    margin-left: 190px;
    margin-right: 190px; 
}
.plan-feature__title_1{
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 20px 0 ;
    width: 350px;
}
.css-u45hd{
    font-family: "Graphik Web",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0;
    margin-left: -20px;
}
.css-u98thd{
    font-family: "Graphik Web",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0;
    margin-right: 230px;
}
.css-u98fss1{
    font-family: "Graphik Web",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0;
    margin-right: 70px;
}
.css-u95fs1{
    font-family: "Graphik Web",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0;
    margin-right: 190px;
}
.css-u55fs1{
    font-family: "Graphik Web",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0;
    margin-right: 220px;
}
.plan-feature-disclaimers{
    color: #fff;
    box-sizing: inherit;
    text-align: center;
    color: #fff;
    box-sizing: inherit;  
    margin-left: 190px;
    margin-right: 190px; 
    padding-bottom: 30px;
    margin-bottom: 40px;
}
.plans-disclaimer__container{
    margin-top: 6px;
    display: flex;
    align-items: center;
    box-sizing: inherit;
}
.plans-container__features-container{
    box-sizing: border-box;
}
.plans-container__features-container__disclaimer{
    font-family: Graphik Web,Graphik,sans-serif;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.46;
    text-transform: none;
}
.plan-addon_controller{
    border-top: 1px solid hsla(0,0%,78.4%,.4);
    border-bottom: 1px solid hsla(0,0%,78.4%,.4);
    margin-left: 190px;
    margin-right: 190px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Graphik Web,Graphik,sans-serif;     
}
.footer_modules{
    background-color: white;
    flex: 1 1;
    width: 100%;
    color: #272c34;
}
.container-width{
    padding-left: 44px;
    padding-right: 44px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
}
.hulu-footer{
    text-align: left;
    color: #586174;
}
.footer-row_rowsidelinks{
    padding: 42px 0;
    display: flex;
    flex-wrap: wrap;
    font-family: Graphik,Helvetica,Arial,sans-serif;
}
.footer_section{
    box-sizing: border-box;
    padding-right: 0.5rem;
    padding-left: 0.5rem; 
}
.css-09ijf{
    font-family: "Graphik Web",sans-serif;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}
.footer-row-collapsed{
    display: flex;
    flex-wrap: wrap;
}
a{
    display: block;
    padding-bottom: 8px;
    padding-right: 32px;
    font-size: 14px;
    color: #586174;
    text-decoration: none;
    text-align: left;

}
.footer-section-container{
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    text-align: left;
    color: #586174;
}
.footer-section-expand{
    font-family: "Graphik Web",sans-serif;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    
}
.footer-row-expandable{
    font-family: "Graphik Web",sans-serif;
    text-align: left;
    color: #586174;
    flex-wrap: wrap;
}
.footer--row-selection{
    display: inline-block;
    margin: 0;
    padding: 0;
    flex-basis: 100%;
    max-width: 100%;
}
.footer--row__footer-legal_links{
    border-top: 2px solid #d9dce2;
    padding: 32px 0 0;
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    line-height: 32px;
    padding-left: 44px;
}
.footer--legal_links-left{
    margin: 0 42px 32px 0;
    min-width: fit-content;
    white-space: nowrap;
    font-size: 12px;
    line-height: 32px;
    text-align: left;
    color: #586174;
    display: flex;
}
.footer--legal--links-right{
    flex-wrap: wrap;
    margin-left: 32px;
    margin-bottom: 32px;

    display: flex;
    font-size: 12px;
    text-align: left; 
    color: #586174;
}
.footer--legal--links-col{
    min-width: fit-content;
    margin-right: 0;
    display: flex;
    gap: 20px;
    font-family: Graphik,Helvetica,Arial,sans-serif;
}
.copyrights_css-09gnhv{
    font-family: "Graphik Web",sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.44;
    letter-spacing: 0;
    display: flex;   
    
}
.footer--legal-links-right-col{
    font-family: "Graphik Web",sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.44;
    letter-spacing: 0;
    flex-wrap: wrap;
    margin-left: 32px;
    display: flex; 
}
